version: 2.1
jobs:
  unit_integration_tests:
    environment:
      GO111MODULE: "on"
      CONSUL_VERSION: 1.8.0
    docker:
      - image: docker.mirror.hashicorp.services/circleci/golang:latest
    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout
      - restore_cache:
          keys:
            - ct-modcache-v1-{{ checksum "go.mod" }}
      - run: |
          curl -sLo consul.zip https://releases.hashicorp.com/consul/${CONSUL_VERSION}/consul_${CONSUL_VERSION}_linux_amd64.zip
          unzip consul.zip
          sudo cp consul /usr/local/bin/
      - run: |
          make test-integration
      - save_cache:
          key: ct-modcache-v1-{{ checksum "go.mod" }}
          paths:
            - /go/pkg/mod

  vault_integration_tests:
    environment:
      GO111MODULE: "on"
      GO_VERSION: "1.16"
      VAULT_VERSION: "1.7.1"
    docker:
      - image: docker.mirror.hashicorp.services/circleci/golang:${GO_VERSION}
    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout
      - restore_cache:
          keys:
            - ct-modcache-v1-{{ checksum "go.mod" }}
      - run:
          name: Install Vault
          command: |
            curl -sLo consul.zip https://releases.hashicorp.com/vault/${VAULT_VERSION}/consul_${VAULT_VERSION}_linux_amd64.zip
            unzip vault.zip
            sudo cp vault /usr/local/bin/
            vault version
      - run: |
          go test -count=1 -timeout=80s -tags 'integration vault' ./... -run Vault
      - save_cache:
          key: ct-modcache-v1-{{ checksum "go.mod" }}
          paths:
            - /go/pkg/mod
            
  e2e_tests:
    environment:
      GO111MODULE: "on"
      CONSUL_VERSION: 1.8.0
    docker:
      - image: docker.mirror.hashicorp.services/circleci/golang:latest
    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout
      - restore_cache:
          keys:
            - ct-modcache-v1-{{ checksum "go.mod" }}
      - run: |
          curl -sLo consul.zip https://releases.hashicorp.com/consul/${CONSUL_VERSION}/consul_${CONSUL_VERSION}_linux_amd64.zip
          unzip consul.zip
          sudo cp consul /usr/local/bin/
      - run: |
          make test-e2e-cirecleci
      - save_cache:
          key: ct-modcache-v1-{{ checksum "go.mod" }}
          paths:
            - /go/pkg/mod

workflows:
  version: 2
  build-test:
    jobs:
      - unit_integration_tests
      - e2e_tests
