version: 2.1

orbs:
  slack: circleci/slack@4.4

executors:
  go:
    docker:
      - image: docker.mirror.hashicorp.services/cimg/go:${GO_VERSION}
    environment:
      GOMAXPROCS: 4
      GO111MODULE: "on"
      GOPROXY: https://proxy.golang.org/
      GO_VERSION: 1.16
      CONSUL_VERSION: "1.10.3"
      TERRAFORM_VERSION: "1.2.1"
      VAULT_VERSION: "1.8.3"
      GOTESTSUM_VERSION: "1.8.1"
      E2E_TESTS_PARALLELISM: 4

commands:
  setup-consul:
    steps:
      - run:
          name: Install Consul
          command: |
            curl -sLo consul.zip https://releases.hashicorp.com/consul/${CONSUL_VERSION}/consul_${CONSUL_VERSION}_linux_amd64.zip
            unzip consul.zip
            sudo cp consul /usr/local/bin/

  setup-terraform:
    steps:
      - run:
          name: Install Terraform
          command: |
            curl -sLo terraform.zip https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip
            unzip terraform.zip
            sudo cp terraform /usr/local/bin/

  setup-vault:
    steps:
      - run:
          name: Install Vault
          command: |
            curl -sLo vault.zip https://releases.hashicorp.com/vault/${VAULT_VERSION}/vault_${VAULT_VERSION}_linux_amd64.zip
            unzip vault.zip
            sudo cp vault /usr/local/bin/
            vault version

  setup-gotestsum:
    steps:
      - run:
          name: Install gotestsum
          command: |
            curl -sLo gotestsum.tar.gz https://github.com/gotestyourself/gotestsum/releases/download/v${GOTESTSUM_VERSION}/gotestsum_${GOTESTSUM_VERSION}_linux_amd64.tar.gz
            tar -xzf gotestsum.tar.gz gotestsum
            sudo cp gotestsum /usr/local/bin/

jobs:
  unit-and-integration-tests:
    executor:
      name: go
    resource_class: medium
    steps:
      - checkout
      - setup-consul
      - run: make test-unit-and-integration
      - store_test_results:
          path: .build/test-results
      - when:
          condition:
            or:
              - equal: [ main, <<pipeline.git.branch>> ]
              - matches: { pattern: "release/.+", value: <<pipeline.git.branch>> }
          steps:
            - slack/notify:
                event: fail
                template: basic_fail_1
                branch_pattern: main,release/.+

  vault-integration-tests:
    executor:
      name: go
    steps:
      - checkout
      - setup-vault
      - run: go test -count=1 -timeout=80s -tags 'integration vault' ./... -run Vault

  split-e2e-tests:
    executor:
      name: go
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Split E2E tests
          command: |
            ./build-scripts/list-tests.sh e2e ./e2e | ./build-scripts/split-lines.sh ${E2E_TESTS_PARALLELISM} .build/tests
      - persist_to_workspace:
          root: .build
          paths:
            - tests

  e2e-tests:
    executor:
      name: go
    resource_class: medium
    parameters:
      part_index:
        type: integer
    steps:
      - checkout
      - setup-consul
      - setup-gotestsum
      - attach_workspace:
          at: .build
      - setup-terraform
      - run:
          name: E2E tests
          environment:
            TESTS_LIST_PATH: .build/tests/part.<< parameters.part_index >>
            TESTS_REGEX_PATH: .build/regex/part.<< parameters.part_index >>
          command: |
            mkdir -p .build/regex
            sudo cp terraform /home/circleci/project/e2e/terraform
            cat ${TESTS_LIST_PATH} | ./build-scripts/make-tests-regex.sh > ${TESTS_REGEX_PATH}
            TESTS_REGEX_PATH=${TESTS_REGEX_PATH} make test-e2e-circleci
      - store_test_results:
          path: .build/test-results
      - when:
          condition:
            or:
              - equal: [ main, <<pipeline.git.branch>> ]
              - matches: { pattern: "release/.+", value: <<pipeline.git.branch>> }
          steps:
            - slack/notify:
                event: fail
                template: basic_fail_1
                branch_pattern: main,release/.+

  consul-compatibility-tests:
    executor:
      name: go
    steps:
      - checkout
      - run: make test-compat
      - slack/notify:
          event: fail
          template: basic_fail_1

  benchmarks:
    executor:
      name: go
    parameters:
      no_output_timeout:
        type: string
        description: the job times out after this duration with no output
        default: 30m
    steps:
      - checkout
      - setup-consul
      - setup-terraform
      - run:
          name: Copy terraform to benchmark directory
          command: /bin/cp /usr/local/bin/terraform ./e2e/benchmarks/
      - run:
          name: Version Check
          command: |
            go version
            consul version
            terraform version
      - run:
          name: Run benchmark suite
          no_output_timeout: << parameters.no_output_timeout >>
          command: make test-benchmarks | /usr/bin/tee /tmp/benchmarks.json
      - slack/notify:
          event: fail
          template: basic_fail_1
      - run:
          name: Output benchmark results
          command: |
            mkdir /tmp/benchmark_results
            grep 'ns/op' /tmp/benchmarks.json | awk -F '"Output":"'  '{print $2}' | sort \
              > /tmp/benchmark_results/results-${CIRCLE_SHA1}-${CIRCLE_BUILD_NUM}.txt
            cat /tmp/benchmark_results/results-${CIRCLE_SHA1}-${CIRCLE_BUILD_NUM}.txt
      - store_artifacts:
          path: /tmp/benchmarks.json
          destination: benchmarks.json
      - store_artifacts:
          path: /tmp/benchmark_results
          destination: benchmark_results

  compile-weekly-tests:
    executor:
      name: go
    resource_class: small
    steps:
      - checkout
      - run:
          name: Check that weekly tests can compile
          command: make compile-weekly-tests
      - when:
          condition:
            or:
              - equal: [ main, <<pipeline.git.branch>> ]
              - matches: { pattern: "release/.+", value: <<pipeline.git.branch>> }
          steps:
            - slack/notify:
                event: fail
                template: basic_fail_1
                branch_pattern: main,release/.+

  go-checks:
    executor:
      name: go
    resource_class: small
    steps:
      - checkout
      - run: make go-fmt-check
      - run:
          name: Verify go.mod and go.sum are correct
          command: |
            go mod tidy
            git diff --quiet && exit 0
            echo "please run 'go mod tidy' to ensure go.mod and go.sum are up to date"
            exit 1

  terraform-checks:
    executor:
      name: go
    resource_class: small
    steps:
      - checkout
      - setup-terraform
      - run: make terraform-fmt-check

workflows:
  build-test:
    jobs:
      - go-checks
      - terraform-checks
      - compile-weekly-tests
      - unit-and-integration-tests
      - split-e2e-tests
      - e2e-tests:
          name: "E2E Tests - Part: << matrix.part_index >>"
          requires:
            - split-e2e-tests
          matrix:
            parameters:
              part_index: [ 0, 1, 2, 3 ]

  weekly-benchmarks:
    jobs:
      - benchmarks
      - vault-integration-tests
      - consul-compatibility-tests
    triggers:
      - schedule:
          # 02:10 UTC every Wednesday
          cron: 10 2 * * 3
          filters:
            branches:
              only:
              - main
