# Copyright (c) HashiCorp, Inc.

name: Weekly Tests

on:
  workflow_dispatch:
  schedule:
    - cron: "10 2 * * 3"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  GO_VERSION: 1.25.5
  CONSUL_VERSION: 1.22.3
  TERRAFORM_VERSION: 1.14.3
  VAULT_VERSION: 1.21.2

jobs:
  compatability:
    name: Compatability Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

      - name: Set up Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run compatability tests
        run: |
          make test-compat

  vault-integration:
    name: Vault Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

      - name: Set up Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Setup Vault
        uses: ./.github/actions/setup-vault
        with:
          version: ${{ env.VAULT_VERSION }}

      - name: Run Vault integration tests
        run: |
          make test-vault-integration

  slack-notification:
    name: Slack Notification
    if: |
      failure()
    needs:
      - compatability
      - vault-integration
    runs-on: ubuntu-latest
    steps:
      - name: Slack Workflow Notification
        uses: Gamesight/slack-workflow-status@68bf00d0dbdbcb206c278399aa1ef6c14f74347a # v1.3.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
